@tailwind base;
@tailwind components;

@layer components {
  .table {
    width: 100%;

    thead {
      th {
        font-size: 0.8em;
        font-weight: bold;
      }
    }

    .value {
      font-weight: bold;
      @apply text-secondary-700;
    }

    &.table--striped {
      tbody tr:nth-child(odd) {
        th,
        td {
          @apply bg-slate-50;
        }
      }
    }
  }
}

@tailwind utilities;
