@tailwind base;
@tailwind components;

@layer components {
  .table {
    width: 100%;

    thead {
      th {
        text-align: center;
        font-size: 0.8em;
        font-weight: bold;

        &:first-child {
          text-align: left;
        }
      }
    }

    tbody {
      th {
        text-align: left;
      }
    }

    &.table--striped {
      tbody tr:nth-child(odd) {
        th,
        td {
          @apply bg-slate-50;
        }
      }
    }
  }

  .value {
    font-weight: bold;
    @apply text-secondary-700;
  }

  input {
    background-color: #eeeeee;
  }

  hr {
    @apply border-primary-800;
  }
}

@tailwind utilities;
